{% extends 'base.html'%} {% block content %}
<div class="row col s12 center-align home-header">
    <h1>
         Web Jargon Search  
    </h1> 
</div>
<div>   
<form>
    <div class="input-field home-search center-align">
        <input placeholder="Enter Search Here" id="search" type="search" required>
         <label class="label-icon" for="search"></label>
         <i class="material-icons">close</i>
    </div>
</form>
</div>
 <div class="center-align sub_button ">
     <a class="waves-effect waves-light btn light-blue"><i class="material-icons left">search</i>Search</a>
  </button>
</div>
{% endblock %}