{% extends 'base.html'%} {% block content %}
<div class="row">
	<div class="center-align">
		<h2>Definitions</h2>
	</div>
</div>

{% for definitions in defines %}

<div class="row ">
	<div class="col s12 m8 offset-m2">
		<div class="card">

			<div class="card-content">
				<span class="card-title">{{definitions.def_name}}</span>
				<p>{{definitions.def_descr}}</p>
			</div>
			<div class="card-action">
				<a href="{{url_for('like_jargon', def_id=definitions._id)}}" class="waves-effect waves-light btn light-blue"><i class="material-icons left">thumb_up</i>Like</a>
                <a href="{{url_for('dislike_jargon', def_id=definitions._id)}}"  class="waves-effect waves-light btn red"><i class="material-icons left">thumb_down</i>Dislike</a>
                <a href="{{url_for('edit_jargon', def_id=definitions._id)}}" class="waves-effect waves-light btn grey"><i class="material-icons right">create</i>Edit</a>
				<a href="{{url_for('delete_jargon', def_id=definitions._id)}}" class="waves-effect waves-light btn grey"><i class="material-icons right">clear</i>Delete</a>
                <span class="new badge green" data-badge-caption="Likes">{{definitions.def_like}}</span>
                <span class="new badge red" data-badge-caption="Dislikes">{{definitions.def_dislike}}</span>
			</div>

		</div>

	</div>
</div>
{% endfor %}
{% endblock %}
  
