{% extends 'base.html'%} {% block content %}
<div class="row">
	<div class="center-align">
		<h2>Definitions</h2>
	</div>
</div>

{% for definitions in defines %}

<div class="row ">
	<div class="col s12 m8 offset-m2">
		<div class="card">

			<div class="card-content">
				<span class="card-title">{{definitions.def_name}}</span>
				<p>{{definitions.def_descr}}</p>
			</div>
			<div class="card-action">
				<a class="waves-effect waves-light btn light-blue"><i class="material-icons left">thumb_up</i>Like</a>
				<a class="waves-effect waves-light btn red"><i class="material-icons left">thumb_down</i>Dislike</a>
			</div>

		</div>

	</div>
</div>
{% endfor %}
{% endblock %}
  
